# while loop

In [ ]:
# To print even number from1 to 100

In [1]:

i=1
while i<100:
    if i%2==0:
        print(i)
        
    i=i+1

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98

In [ ]:
#sum of  n numbers

In [2]:
i=1
sum=0
n=int(input("Enter  number: "))
while i<=n:
    sum=sum+i
    i=i+1
print(sum)

Enter  number: 19
190

In [ ]:
# To print n numbers

In [4]:
i=1
n=int(input("Enter number :"))
while i<n+1:
    print(i)
    i=i+1

Enter number :18
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18

In [ ]:
#To print Multiple table of number

In [5]:
i=1
num=int(input("Enter a number :"))
lim=int(input("Enter limit :"))
print("Table of",num,"is")
while i<=lim:
    print(i,"*",num,"=",num*i)
    i=i+1

Enter a number :12
Enter limit :10
Table of 12 is
1 * 12 = 12
2 * 12 = 24
3 * 12 = 36
4 * 12 = 48
5 * 12 = 60
6 * 12 = 72
7 * 12 = 84
8 * 12 = 96
9 * 12 = 108
10 * 12 = 120

In [ ]:
#To print factorial of number

In [6]:
i=1
fact=1
num=int(input("Enter number :"))
while i<=num:
    fact=fact*i
    i=i+1

print(fact)

Enter number :5
120

In [ ]:
#Reverse of a number

In [7]:
num=int(input("Enter a number :"))
rev=0
while num>0:
    rem=num%10
    rev=rev*10+rem
    num=num//10
print(rev)

Enter a number :1567
7651

In [ ]:
#Reverse of number and sum

In [8]:
num=int(input("Enter a number :"))
rev=0
f1=0
while num>0:
    rem=num%10
    f1=f1+rem
    rev=rev*10+rem
    num=num//10
print(rev)   
print(f1)

Enter a number :1456
6541
16

In [ ]:
#To check Palindrome or not

In [10]:
num=int(input("Enter a number :"))
temp=num
rev=0
while num>0:
    rem=num%10
    rev=rev*10+rem
    num=num//10
if rev==temp:
    print(temp,"is Palindrome")
else :
    print(temp,"is  not Palindrome")

Enter a number :2345432
2345432 is Palindrome

In [ ]:
# To check Armstrong number or not

In [11]:
num=int(input("Enter number :"))
temp=num
num1=num
dig=0
while num>0:
    num=num//10
    dig=dig+1
sum=0
for i in range(dig):
    digit=temp%10
    sum=sum+digit**dig
    temp=temp//10
if num1==sum:
    print(num1,"is an Armstrong number")
else :
    print(num1,"is not Armstrong number")

Enter number :153
153 is an Armstrong number

# for loop

In [ ]:
#Multiple table using for loop

In [12]:
num=int(input("Enter number :"))
limit=int(input("Enter limit :"))
print("Multiple Table of ",num,"is ")
for i in range(1,limit+1):
    print(i,"*",num,"=",i*num)

Enter number :15
Enter limit :10
Multiple Table of  15 is
1 * 15 = 15
2 * 15 = 30
3 * 15 = 45
4 * 15 = 60
5 * 15 = 75
6 * 15 = 90
7 * 15 = 105
8 * 15 = 120
9 * 15 = 135
10 * 15 = 150

In [ ]:
# Fibonacii of number

In [13]:
f1=0
f2=1
num=int(input("Enter number of terms :"))
print(f1)
print(f2)

for i in range(num-2):
    f3=f1+f2
    print(f3)
    f1=f2
    f2=f3

Enter number of terms :8
0
1
1
2
3
5
8
13

In [ ]:
# Whether given number is prime or not

In [14]:
num=int(input("Enter number :"))
count=0
for i in range (2,num):
    if num%i==0:
        count=1
if count==1:
    print("The number is not Prime")
else :
    print("The number is Prime")

Enter number :29
The number is Prime

In [ ]:
#star pattern

In [15]:
for i in range(5):#outer loop
    for j in range(i):#inner loop
        print("*",end="")
    print()

*
**
***
****

In [ ]:
#Number pattern

In [16]:
for i in range(6):
    for j in range(i):
        print(i,end="")
    print()

1
22
333
4444
55555