# PROGRAMS

In [ ]:
#Pgm to print days in week

In [1]:
x=int(input("Enter number in between 1 to 7 :"))
if x==1:
    print("Sunday")
elif x==2:
    print("Monday")
elif x==3:
    print("Tuesday")
elif x==4:
    print("Wednesday")
elif x==5:
    print("Thursday")
elif x==6:
    print("Friday")
else:
    print("Saturday")

Enter number in between 1 to 7 :5
Thursday

In [ ]:
#perimeter of rectangle

In [4]:
l=int(input("Enter length :"))
b=int(input("Enter breadth :"))
perimeter=2*(l+b)
print(perimeter)

Enter length :12
Enter breadth :34
92

In [ ]:
# Perimeter of circle

In [5]:
r=int(input("Enter radius :"))
p=2*3.14*r
print("Perimeter of circle :",p)

Enter radius :45
Perimeter of circle : 282.6

In [ ]:
#volume of sphere

In [6]:
r=int(input("Enter radius :"))
v=(4*3.14*r*r*r)/3
print("Volume of sphere",v)

Enter radius :24
Volume of sphere 57876.48

In [ ]:
#volume of cube

In [8]:
r=int(input("Enter radius :"))
v=r*r*r
print("Volume of Cube",v)

Enter radius :12
Volume of Cube 1728

In [ ]:
#give 10% bonus if salary greater than 10000

In [9]:
n=int(input("Enter the salary :"))
if n>=10000:
    print(n+((n*10)/100))
else:
    print("No bonus")

Enter the salary :110000
121000.0

In [ ]:
#pgm to print grades based on marks

In [2]:
mark=float(input("Enter your mark:"))
if mark>90:
    print("Grade is A")
elif mark>=75 and mark<90:
    print("Grade is B")
elif mark>=65 and mark<75:
    print("Grade is C")
elif mark>=50 and mark<65:
    print("Grade is D")
else :
    print(" Fail")

Enter your mark:80
Grade is B

In [ ]:
#Io print smallest among 3 numbers

In [4]:
n1=int(input("Enter 3 numbers :"))
n2=int(input())
n3=int(input())
if n1<n2:
    if n1<n3:
        print(n1,"is smaller")
    else:
        print(n3,"is smaller")
else:
    if n2<n3:
        print(n2," is smaller")
    else:
        print(n3," is smaller")

Enter 3 numbers :12
45
23
12 is smaller

In [ ]:
# print calculator

In [26]:
num1=int(input("Enter First Number "))
op=input("Enter operators from [+, -, *, /, //, %]")
num2=int(input("Enter Second Number "))
if op=='+':
    print(num1+num2)
elif op=='-':
    print(num1-num2)
elif op=='*':
    print(num1*num2)
elif op=='/':
    print(num1/num2)
elif op=='//':
    print(num1/num2)
elif op=='%':
    print(num1%num2)
else:
    print("Please enter provided operators")

Enter First Number 23
Enter operators from [+, -, *, /, //, %]*
Enter Second Number 10
230

In [ ]:
# To check a number is even or odd

In [5]:
m=int(input("Enter a number :"))
if m%2==0:
    print(m,"is a even number")
else:
    print(m,"is odd number")

Enter a number :13
13 is odd number

In [ ]:
#To check leap year or not

In [6]:
year=int(input("Enter year :"))
if (year%4)==0:
    print(year,"is a Leap Year")
elif (year%100)!=0:
    print(year," is not a Leap Year")
elif (year%400==0):
    print(year,"is a Leap Year")

Enter year :2009
2009  is not a Leap Year

In [ ]:
# To print greatest among 3 numbers

In [8]:
n1=int(input("Enter 3 numbers :"))
n2=int(input())
n3=int(input())
if n1>n2:
    if n1>n3:
        print(n1,"is greater")
    else:
        print(n3,"is greater")
else:
    if n2>n3:
        print(n2," is greater")
    else:
        print(n3," is greater")

Enter 3 numbers :22
44
23
44  is greater

In [ ]:
# To check voter is eligible or not

In [9]:
age=int(input("Enter your age :"))
if age>=18:
    print("You are eligible for vote")
else:
    print("You are not eligible ")

Enter your age :23
You are eligible for vote

In [ ]:
# To print even number from1 to 100

In [10]:

i=1
while i<100:
    if i%2==0:
        print(i)
        
    i=i+1

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98

In [12]:
#sum of  n numbers

In [13]:
i=1
sum=0
n=int(input("Enter  number: "))
while i<=n:
    sum=sum+i
    i=i+1
print(sum)

Enter  number: 6
21

In [ ]:
# To print n numbers

In [14]:
i=1
n=int(input("Enter number :"))
while i<+n:
    print(i)
    i=i+1

Enter number :7
1
2
3
4
5
6

In [ ]:
#To print Multiple table of number

In [15]:
#table of number
i=1
num=int(input("Enter a number :"))
lim=int(input("Enter limit :"))
print("Table of",num,"is")
while i<=lim:
    print(i,"*",num,"=",num*i)
    i=i+1

Enter a number :8
Enter limit :10
Table of 8 is
1 * 8 = 8
2 * 8 = 16
3 * 8 = 24
4 * 8 = 32
5 * 8 = 40
6 * 8 = 48
7 * 8 = 56
8 * 8 = 64
9 * 8 = 72
10 * 8 = 80

In [ ]:
#To print factorial of number

In [18]:
i=1
fact=1
num=int(input("Enter number :"))
while i<=num:
    fact=fact*i
    i=i+1

print(fact)

Enter number :10
3628800

In [ ]:
# To print reverse of two number

In [21]:
num=int(input("Enter Two digit number :"))
second=num%10
first=num//10
revers=(second*10)+first
print("Reverse :",revers)

Enter Two digit number :56
Reverse : 65

In [ ]:
# To print reverse of three number

In [22]:
num1=int(input("Enter Three Digit Number :"))
third=num1%10
rem=num1//10
second=rem%10
first=num1//100
reverse=(third*100)+(second*10)+first
print(reverse)

Enter Three Digit Number :456
654

In [ ]:
#To print 3 numbers in ascending order

In [28]:
n1=int(input("Enter 3 numbers :"))
n2=int(input())
n3=int(input())
if n1<n2 and n2<n3:
    print(n1," ",n2," ",n3)
elif n1<n2 and n1<n3:
     print(n1," ",n3," ",n2)
elif n2<n1 and n1<n3:
     print(n2," ",n1," ",n3)
elif n2<n1 and n2<n3:
     print(n2," ",n3," ",n1)
elif n3<n1 and n1<n2:
     print(n3," ",n1," ",n1)
else :
     print(n3," ",n2," ",n1)

Enter 3 numbers :23
34
56
23   34   56

In [ ]:
# Print months in a year

In [32]:
mnt=int(input("Enter number in between 1 to 12 :"))
if mnt==1:
    print("January")
elif mnt==2:
    print("February")
elif mnt==3:
    print("March")
elif mnt==4:
    print("April")
elif mnt==5:
    print("May")
elif mnt==6:
    print("June")
elif mnt==7:
    print("July")
elif mnt==8:
    print("Auguest")
elif mnt==9:
    print("September")
elif mnt==10:
    print("October")
elif mnt==11:
    print("November")
elif mnt==12:
    print("December")
else:
    print("Please enter a valid number ")

Enter number in between 1 to 12 :11
November

In [1]:
# Print the power of  number

Enter a number :12
Enter power :2
144

In [2]:
numb=int(input("Enter a number :"))
pow=int(input("Enter power :"))
print(numb**pow)

Enter a number :12
Enter power :2
144

In [ ]:
#Multiple table using for loop

In [4]:
num=int(input("Enter number :"))
limit=int(input("Enter limit :"))
print("Multiple Table of ",num,"is ")
for i in range(1,limit+1):
    print(i,"*",num,"=",i*num)

Enter number :9
Enter limit :10
Multiple Table of  9 is
1 * 9 = 9
2 * 9 = 18
3 * 9 = 27
4 * 9 = 36
5 * 9 = 45
6 * 9 = 54
7 * 9 = 63
8 * 9 = 72
9 * 9 = 81
10 * 9 = 90

In [ ]:
#Reverse of a number

In [7]:
num=int(input("Enter a number :"))
rev=0
while num>0:
    rem=num%10
    rev=rev*10+rem
    num=num//10
print(rev)

Enter a number :123
321

In [ ]:
# Fibonacii of number

In [21]:
f1=0
f2=1
num=int(input("Enter number of terms :"))
print(f1)
print(f2)

for i in range(num-2):
    f3=f1+f2
    print(f3)
    f1=f2
    f2=f3

Enter number of terms :5
0
1
1
2
3

In [ ]:
#Reverse of number and sum

In [25]:
num=int(input("Enter a number :"))
rev=0
f1=0
while num>0:
    rem=num%10
    f1=f1+rem
    rev=rev*10+rem
    num=num//10
print(rev)   
print(f1)

Enter a number :345
543
12

In [ ]:
#To check Palindrome or not

In [31]:
num=int(input("Enter a number :"))
temp=num
rev=0
while num>0:
    rem=num%10
    rev=rev*10+rem
    num=num//10
if rev==temp:
    print(temp,"is Palindrome")
else :
    print(temp,"is  not Palindrome")

Enter a number :121
121 is Palindrome

In [ ]:
# To check Armstrong number or not

In [43]:
num=int(input("Enter number :"))
temp=num
num1=num
dig=0
while num>0:
    num=num//10
    dig=dig+1
sum=0
for i in range(dig):
    digit=temp%10
    sum=sum+digit**dig
    temp=temp//10
if num1==sum:
    print(num1,"is an Armstrong number")
else :
    print(num1,"is not Armstrong number")

Enter number :9
9 is an Armstrong number

In [ ]:
# Whether given number is prime or not

In [17]:
num=int(input("Enter number :"))
count=0
for i in range (2,num):
    if num%i==0:
        count=1
if count==1:
    print("The number is not Prime")
else :
    print("The number is Prime")

Enter number :21
The number is not Prime

In [ ]:
#star pattern

In [10]:
for i in range(5):#outer loop
    for j in range(i):#inner loop
        print("*",end="")
    print()

*
**
***
****

In [ ]:
#Number pattern

In [ ]:
for i in range(6):
    for j in range(i):
        print(i,end="")
    print()